
.mar {
	margin-top: 10px;
}

.main-margin-top {
	margin-top: 5px;
}

.tg-btn {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.cryp-type {
	margin-left: 16px
}

.date-tog > label {
	padding-left:9px; 
	padding-right: 9px;
}



.price-sm {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 3px;
	font-weight: 500;
}



.price-api {
	font-weight: 400;
	font-size: 14px;
}

.news-date {
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	color: #888
}

.news-content {
	
	font-size: 1rem;
	font-weight: 500;
	font-size: 14px;
	max-height: 90px; 
	overflow: hidden;
}

.news-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
}

.news_img {
	background-color: white;
	border:solid 1px #888;
	padding: 4px;
}



#price , #exchange-top-1 , #value-top-1 {
	color: #888;
}

.price_main {
	border-bottom: 1px solid #888; 
}

.top_exchange_1_index {
	display: inline-block;
	min-width: 99px;
}

.top_exchange_rest_index {
	display: inline-block;
	min-width: 70px;
}

.all_exchanges {
	border: 1px solid #ddd;
	padding-left: 5px;
	margin-bottom: 3px;
}

#custom_time_stamp {
	max-width: 300px;
}



.custom_timestamp {
	display: inline-block;
	width: 49%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.t {
	display: inline-block;
	min-width: 92px;
	
}

#filtered_sources {
	margin-top: 40px;
}

.no_mar {
	padding-left: 5px;
}
.no_mar > li {
	font-size: 12px;
	list-style-type: none;
}

.modal-body > p {
	margin-bottom: 0px;
}

.max_width_10 {
	max-width: 64px;
}
